<h1>Add Game</h1>

<form method="POST" action="/users/:slug/games">
  <label for="date">Date</label>
    <input type="text" name="date" id="datepicker">
    <br/>
    <br/>
  <p>

  <input type="checkbox" id="toggle"/><label for="toggle">Show/Hide</label>
<div id="block">
  <label>Winner?:</label> 
    <select name="players[][id]">
      <option disabled selected value> -- select Player -- </option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"> <%= user.name %></option>
      <% end %>
    </select>
    <label>Win?</label><input type="checkbox" value="win" name="player1[][win]">
    <label>Loss?</label><input type="checkbox" value="loss" name="player1[][loss]">
  </p>
  <p>
  <label>Player 2:</label> 
    <select name="players[][id]">
      <option disabled selected value> -- select Player -- </option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"> <%= user.name %></option>
      <% end %>
    </select>
    <label>Win?</label><input type="checkbox" value="win" name="player2[][win]">
    <label>Loss?</label><input type="checkbox" value="loss" name="player2[][loss]">
  </p>
  <p>
  <label>Draw?</label> 
    <input type="checkbox" value="draw" name="draw">
  </p>
</div>
    <input type="submit" value="Create" id="create">
</form>
